body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}
#map > svg > circle {
  stroke: white;
  fill-opacity: 50%;
  fill: steelblue;
  pointer-events: auto;;
}
#time-container {
  align-items: right;
}
#time-container > em,
#time-container > time {
  display: block;
}
